.navbar {
  padding: 0 5%;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  line-height: 80px;
  color: rgb(255, 216, 0);
  background: rgba(32, 32, 32, 0.95);
  font-size: 24px;
  font-family: cursive;
  user-select: none;
  z-index: 10;
}

.active {
  background: rgba(128, 128, 128, 0.6);
  transition: .5s;
}

.navbar-group {
  float: right;
}

.navbar-item {
  margin: 10px;
  display: inline;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-link {
  padding: 10px;
  color: rgb(255, 216, 0);
  border-radius: 14px;
}

  .navbar-link:hover {
    background: rgba(128, 128, 128, 0.6);
    transition: .5s;
  }

.check-btn {
  float: right;
  display: none;
  cursor: pointer;
}

#check {
  display: none;
}

@media(max-width: 1024px) {
  .navbar-item {
    margin: 6px;
  }

  .navbar-link {
    padding: 6px;
    border-radius: 12px;
  }
}

@media(max-width: 800px) {
  .navbar-group {
    position: fixed;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    width: 100%;
    background: rgba(64, 64, 64, 0.95);
    top: 80px;
    left: -100%;
    transition: .5s;
    text-align: center;
  }

  .navbar-item {
    margin: 6px;
  }

  .navbar-link {
    padding: 10px;
    border-radius: 12px;
  }

  .check-btn {
    display: block;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

@media(max-width: 640px) {
  .navbar-item {
    margin: 3px;
  }

  .navbar-link {
    padding: 3px;
    border-radius: 10px;
  }
}
