<div class="home">
  <div style="margin: auto">
    ZrakPizza is fictional online pizza shop made for studying purposes. <br />
    Products are taken (stolen) from <a href="https://caribic.rs/" target="_blank">caribic.rs</a> with little to no changes. <br />
    Pls don't sue me.
  </div>
</div>

<div class="about" id="about">
  <div style="margin: auto">
    ZrakPizza is fictional online pizza shop made for studying purposes. <br />
    Products are taken (stolen) from <a href="https://caribic.rs/" target="_blank">caribic.rs</a> with little to no changes. <br />
    Pls don't sue me.
  </div>
</div>

