<nav class="navbar">
  <input type="checkbox" id="check">
  <label class="check-btn" for="check">
    <i class="fas fa-bars"></i>
  </label>

  <label class="navbar-brand">ZrakPizza</label>
  <ul class="navbar-group">
    <li class="navbar-item">
      <a class="navbar-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>

    <li class="navbar-item">
      <a class="navbar-link" routerLink="/menu" routerLinkActive="active">Menu</a>
    </li>

    <li class="navbar-item" *ngIf="cart">
      <a class="navbar-link" routerLink="/cart" routerLinkActive="active">
        <sub>({{ cartService.getCart().itemsCount }})</sub><i class="fas fa-shopping-cart"><sup>{{ cartService.getCart().itemsTotalPrice | currency:'EUR' }}</sup></i>
      </a>
    </li>
  </ul>
</nav>
