/* You can add global styles to this file, and also import other style files */

@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
}

body {
  min-height: 100vh;
  background: url('c:\users\danijel\desktop\web\zrakpizza\zrakpizza\zrakpizza.web\clientapp\src\assets\images\bg.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.title {
  width: 100%;
  color: white;
  font-size: 32px;
  text-align: center;
}

  .title::before {
    width: 32%;
    height: 1px;
    background-color: white;
    position: absolute;
    left: 5%;
    top: 16px;
    content: "";
    z-index: 1;
  }

  .title::after {
    width: 32%;
    height: 1px;
    background-color: white;
    right: 5%;
    top: 16px;
    content: "";
    position: absolute;
    z-index: 1;
  }
